
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-2{
    color: #474747;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 64px;
}
.nev-name{
    font-weight:800;
    font-size: 45px;
}
.span-text{
    color: #FD6E0A;
}
.nev-ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    margin-right: 50px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
/* image and description */
.image{
  width: 616px;
  height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.something{
    width: 585px;
}
h4{
    font-size: 45px;
}
h1{
    font-weight: bold;
    font-size: 85px;
}
.bold-color{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-discription{
    color: #757575;
    font-weight: normal;
    font-size: 18px;
}
.main{
   
    margin: 0 auto;
  max-width:1140px; 
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.extra-backround{
    background-color: #FFF8F3;
    
}
.about-des{
    display: flex;
    justify-content: space-around;
}
.item-title{
    weight: 118px;
    
    color: #757575;
}
.item-description{
    weight: 118px;
    font-weight: bold;
    font-size: 20px;
}
.skills{
    
}
.whtido{
    font-size: 35px;
    color: #181818;
    text-align: center;
    padding: 154px 370px 30px 370px;
}
.skill-discription{
    color: #757575;
    
    font-size: 18px;
     width: 909px;
    text-align: center;
    padding: 0 128px 0 103px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
}
.skill{
    width: 267px;
    height: 377px;
    margin-top: 50px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding: 30px 63px 0px 30px;
}
.skill-description{
    width: 201px;
    font-size: 16px;
    color: #757575;
    padding: 0px 33px 20px 30px;
}
.img{
    padding: 30px 193px 0px 30px;
}
.title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin: 130px 0 0 0;
}
.resume-container{
    display: flex;
    margin-top: 113px;
    justify-content: space-between;
}
.resume-column-title{
    font-size: 30px;
}
.experience-title{
    font-size: 25px;
    padding-bottom: 0px;
}
.experience{
    width: 511px;
    height: 175px;
    padding: 0px 0 30px 0;
}
.experience-subtitle{
    font-size: 20px;
    color: #757575;
    
}
.experience-description{
    width: 511px;
    font-size: 16px;
    color: #757575;
    margin-top: 0px;
    padding: 0px 47px 90px 0px;
}
.btn{
    display: flex;
    text-align: center;
    margin: 90px 423px 111px 470px;
}
footer{
    display: flex;
    width: 1600px;
    height: 780px;
    justify-content: space-between;
      
}
.footer-title{
    font-size: 35px;
   margin: 130px 452px 20px 170px;
   width: 227px;
   color: #181818;
}
.footer-des{
    width: 562px;
    margin: 0 116px 17px 170px;
    font-size: 16px;
}
.images{
   padding: 0 ;
    margin: 0 559px 50px 160px;
}
.footer-title-2{
    font-size: 35px;
    width: 305px;
    color: #181818;
    margin: 130px 386px 28px 0;
}

footer input[type="text"], footer textarea{
    height: 64px;
    width: 464px;
    border-radius: 5px;
    background-color: white;
    border: none;
    display: block;
}